[submodule "rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "/magit"]
	path = vendor/magit
	url = git://github.com/technomancy/magit.git
[submodule "cheat.el"]
	path = vendor/cheat.el
	url = git://github.com/defunkt/cheat.el.git
[submodule "gist.el"]
	path = vendor/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/yaml-mode.el"]
	path = vendor/yaml-mode.el
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "vendor/open-file-in-github"]
	path = vendor/open-file-in-github
	url = git://gist.github.com/170861.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "vendor/php-mode"]
	path = vendor/php-mode
	url = git://github.com/emacsmirror/php-mode.git
[submodule "nebirhos/snippets/latex-mode"]
	path = nebirhos/snippets/latex-mode
	url = git://github.com/nebirhos/yasnippets-latex.git
[submodule "vendor/color-theme-zenburn"]
	path = vendor/color-theme-zenburn
	url = git://github.com/credmp/color-theme-zenburn.git
[submodule "vendor/cucumber"]
	path = vendor/cucumber
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "vendor/js-yasnippets"]
	path = vendor/js-yasnippets
	url = git://github.com/nebirhos/js-yasnippets.git
[submodule "vendor/autopair"]
	path = vendor/autopair
	url = https://github.com/emacsmirror/autopair.git
[submodule "vendor/android-mode"]
	path = vendor/android-mode
	url = https://github.com/remvee/android-mode.git
[submodule "vendor/rvm.el"]
	path = vendor/rvm.el
	url = https://github.com/senny/rvm.el.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/sr-speedbar"]
	path = vendor/sr-speedbar
	url = git://github.com/emacsmirror/sr-speedbar.git
[submodule "vendor/sass-mode"]
	path = vendor/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "vendor/color-theme-solarized"]
	path = vendor/color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vendor/color-theme-twilight"]
	path = vendor/color-theme-twilight
	url = git://github.com/crafterm/twilight-emacs.git
